node_modules/
.env
backend/uploads/
backend/database/*.db
backend/database/*.sqlite
backend/database/*.sqlite3
backend/database/*.db-journal
backend/database/*.sqlite-journal
backend/database/*.sqlite3-journal
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
